<nav class="navbar navbar-expand-lg navbar-light m-navbar">
  <div class="container m-top-to-bottom m-top-to-bottom__delay-1000ms">
    <div class="navbar-brand">
      <img src="svg/m-logo.svg" alt="Mlogo" class="m-navbar__logo" />
    </div>

    <button
      class="navbar-toggler m-navbar__toggler"
      [ngClass]="{ 'm-navbar__toggler--close': isMenuDisplayed }"
      type="button"
      data-bs-toggle="collapse"
      (click)="isMenuDisplayed = !isMenuDisplayed"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-navbar__nav">
        <ng-container *ngFor="let menu of navOptions">
          <li
            *ngIf="menu.isMenu"
            class="nav-item"
            [ngClass]="{ dropdown: !!menu.catalog }"
          >
            <a
              *ngIf="!menu.catalog || menu.name == 'home' || menu.name == 'inicio'; else dropDownLink"
              class="nav-link m-navbar__link"
              [routerLinkActive]="'active'"
              aria-current="page"
              [routerLink]="menu.id"
            >
              {{ menu.name }}
            </a>

            <ng-template #dropDownLink>
              <a
                class="nav-link dropdown-toggle m-navbar__link"
                href="#"
                id="navbarDropdown{{ menu.id }}"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                (click)="menu.navLinkFocused = !menu.navLinkFocused"
                (blur)="menu.navLinkFocused = false"
              >
                {{ menu.name }}
                <m-icon
                  [iconName]="'arrow-down.svg'"
                  [ngClass]="{ 'm-navbar__item-inverted': menu.navLinkFocused }"
                ></m-icon>
              </a>

              <ul class="dropdown-menu m-navbar__dropdown">
                <li *ngFor="let subMenu of menu.catalog">
                  <a
                    *ngIf="subMenu.isQueryParam; else noQueryParam"
                    class="dropdown-item m-navbar__link m-navbar__link--float"
                    [routerLink]="[menu.id, subMenu.id]"
                  >
                    {{ subMenu.name }}
                  </a>

                  <ng-template #noQueryParam>
                    <a
                      class="dropdown-item m-navbar__link m-navbar__link--float"
                      [routerLink]="subMenu.id"
                    >
                      {{ subMenu.name }}
                    </a>
                  </ng-template>
                </li>
              </ul>
            </ng-template>
          </li>
        </ng-container>

        <li *ngIf="pickedLanguage" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle m-navbar__link"
            href="#"
            id="navbarDropdownAboutUs"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            (click)="languageMenuFocused = !languageMenuFocused"
            (blur)="languageMenuFocused = false"
          >
            <div class="m-navbar__icon-menu">
              <m-icon [iconName]="pickedLanguage + '.svg'"></m-icon>
              {{ pickedLanguage }}
            </div>
            <m-icon
              [iconName]="'arrow-down.svg'"
              [ngClass]="{ 'm-navbar__item-inverted': languageMenuFocused }"
            ></m-icon>
          </a>
          <ul
            class="dropdown-menu m-navbar__dropdown"
            aria-labelledby="navbarDropdownAboutUs"
          >
            <li *ngFor="let language of languagesList">
              <a
                class="dropdown-item m-navbar__icon-menu m-navbar__link m-navbar__link--float"
                href="#"
                (click)="selectLanguage($event, language)"
              >
                <m-icon [iconName]="language + '.svg'"></m-icon>
                {{ language }}
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="d-flex">
        <button class="m-link m-link--secondary mr-2" (click)="openJoinUs()">
          {{ getJoinUsLink?.name }}
        </button>
        <button class="m-link m-link--secondary" (click)="openGetInTouch()">
          {{ getInTouchLink?.actionText }}
          <m-icon [iconName]="'tabler_arrow-up.svg'"></m-icon>
        </button>
      </div>


    </div>
  </div>
</nav>
