<div class="ms-section">
  <div class="ms-container">
    <div class="ms-motto-wrap">
      <div class="ms-heading-jumbo-small">
          {{ sectionDescription }}<br/>
      </div>
    </div>
    <div class="home-content-wrap">
      <div *ngFor="let item of sectionsItems">
        <div  id="{{item.id}}"  class="ms-layout-grid {{item.class}}">
          <div id="ms-section-{{item.direction}}">
            <div class="ms-home-section-wrap">
              <h2 class="ms-section-heading">{{item.title}}</h2>
              <p class="ms-paragraph-light">
                  {{item.description}}
              </p>
            </div>
          </div>
          <img
              src="{{item.img}}"
              class="ms-section-image-{{item.direction}}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
