<section class="m-section m-section--who-we-are">
  <div class="container d-flex flex-column m-section__body">
    <div
      class="d-flex flex-column align-items-center flex-md-row-reverse align-items-md-start align-items-lg-end m-section__wrapper"
      [id]="whoWeAreData.id"
    >
      <div class="d-flex flex-column m-section--who-we-are__text">
        <h1 class="m-section__title m-section__title--big">
          {{ whoWeAreData.title ?? whoWeAreData.name }}
        </h1>
        <div
          class="m-section--who-we-are__description"
          [innerHtml]="whoWeAreData.description"
        ></div>
      </div>

      <img alt="MushroomSoft team 1" class="m-section--who-we-are__img" />
    </div>

    <div
      class="d-flex flex-column align-items-center flex-md-row align-items-md-start align-items-lg-end m-section__wrapper"
      [id]="ourStoryData.id"
    >
      <div class="d-flex flex-column m-section--who-we-are__text">
        <h1 class="m-section__title m-section__title--big">
          {{ ourStoryData.title ?? ourStoryData.name }}
        </h1>
        <div
          class="m-section--who-we-are__description"
          [innerHtml]="ourStoryData.description"
        ></div>
      </div>

      <img alt="MushroomSoft team 2" class="m-section--who-we-are__img--nth" />
    </div>
  </div>
</section>
