@import "scss/constants";
@import "bootstrap/scss/bootstrap";
@import "scss/custom";
@import 'ngx-toastr/toastr';

.custom-toast {
    border-radius: 0.5em;
    background-color: $m-color-toastr !important;
    width: 18.75em;
    padding:  1.25em;
    color: white
  }

  
:root {
  --chat--header--background: #f15d2a;
  --chat--header--color: #ffffff;
  --chat--color--primary: #f15d2a;
  --chat--toggle--background: #f15d2a;
  --chat--toggle--hover--background: #d95125;
  --chat--toggle--active--background: #c74921;

  --chat--window--width: 88vw;   
  --chat--window--height: 70vh; 

  --chat--header-height: 7vh;

  --chat--message--user--background: #0e2332;
}